*{
  padding: 0px;
  margin : 0px;
}

body {
  font-family: 'Roboto', sans-serif;
  padding-bottom: 300px;
}

.white{
  color: white;
}

.centro{
    text-align: center;
}


.fixar-rodape{
    bottom: 0;
    left: 0;   
    position: fixed;
    width: 100%;
}

dl {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    
  }

.imgdetalhe{
    width: 95%;
    max-width: 300px;
    max-height: 300px;
    border: 2px solid darkgrey;
}
