*{
  padding: 0px;
  margin : 0px;
}

body {
  font-family: 'Roboto', sans-serif;
}

.white{
  color: white;
}

.centro{
    text-align: center;
}

.fixar-rodape{
    bottom: 0;
    left: 0;   
    position: fixed;
    width: 100%;
}
